<style>
    * {
        box-sizing: border-box;
        font-family: 'Source Sans 3', sans-serif;
        text-decoration: none;
    }

    body {
        overflow-y: auto;
        padding-top: 45px;
    }

    #enfoque1 {
        background: none repeat scroll 0 0 #fff;
    }

    .container-sm {
        width: 70%;
    }

    /* Estilos para los títulos de las cards */
    .card-title {
        padding: 10px;
        font-size: 2rem;
        color: #006400;
    }

    .card-title:first-letter {
        font-size: 2.5rem;
        color: #004d00;
    }
</style>

    <div class="container-sm">

        <!-- Card 1 -->
        <div class="card mb-3 mx-auto">
            <div class="card-body">
                <h1 class="card-title">¡Bienvenido al Módulo de Cuidado de Cultivos!</h1>
                <p class="card-text">
                    En este espacio dedicado al fascinante mundo de las plantas, te invitamos a explorar, aprender y
                    compartir conocimientos sobre la
                    diversidad botánica que nos rodea. Ya sea que estés buscando información detallada sobre una planta
                    específica, quieras identificar
                    una especie desconocida o simplemente desees conectarte con otros entusiastas de la jardinería,
                    estás en el lugar adecuado.
                </p>
                <a href="#explora-descubre">
                    <p class="card-text"><small class="text-muted">Más...</small></p>
                </a>
            </div>
            <img src="/public/IMG/Adgamus_Banner_Cultivo.png" id="enfoque1" class="card-img-top" alt="Plantas">
        </div>
        <!-- Card 2-3 -->

        <div class="row">
            <div class="col-sm-6">

                <!-- Card 2 -->

                <div id="explora-descubre" class="card mb-3 m-auto" style="max-width: 540px;">
                    <h5 class="card-title">Explora y Descubre</h5>

                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/public/IMG/Adgamus_Buscador_Icon.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Utiliza nuestro buscador rápido para encontrar información sobre
                                    una planta específica a través de su nombre o nombre científico. También puedes
                                    refinar tus búsquedas utilizando filtros específicos, como el tipo de planta, la
                                    región geográfica, el color de las flores y otros rasgos distintivos.</p>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">

                <!-- Card 3 -->

                <div class="card mb-3 m-auto" style="max-width: 540px;">
                    <h5 class="card-title">Conéctate con la Comunidad</h5>

                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Participa en nuestra comunidad en línea, donde puedes compartir tus
                                    preguntas, descubrimientos y desafíos relacionados con el cuidado de cultivos.
                                    Publica tu pregunta con un título claro, proporciona detalles sobre la planta en
                                    cuestión, sube fotos desde diferentes ángulos y etiqueta tu pregunta para facilitar
                                    la colaboración.</p>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="/public/IMG/Adgamus_Comunidad_Icon.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 4-5 -->

        <div class="row">

            <!-- Card 4-->
            <div class="col-sm-6">

                <div class="card mb-3 m-auto" style="max-width: 540px;">
                    <h5 class="card-title">Sumérgete en la Información</h5>

                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Cuando hayas identificado una planta o simplemente desees aprender
                                    más sobre ella, explora la sección detallada. Encuentra el nombre científico,
                                    descripción, fotos en distintas etapas, información geográfica y datos relevantes
                                    sobre el cultivo y cuidado.</p>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="/public/IMG/Adgamus_Informacion_Icon.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-sm-6">
                <div class="card mb-3 m-auto" style="max-width: 540px;">
                    <h5 class="card-title">Revive Tus Búsquedas Anteriores</h5>

                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/public/IMG/Adgamus_Historial_Icon.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">No pierdas de vista tus exploraciones pasadas. Accede a tu
                                    historial de datos ingresados para revisar las plantas que has consultado, las
                                    fechas de tus búsquedas y enlaces rápidos a la información detallada de cada planta.
                                </p>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 6 -->

        <div class="card text-center">
            <div class="card-header">
                Modulo Cuidado de cultivos.
            </div>
            <div class="card-body">
                <h5 class="card-title">¡Es hora de comenzar!</h5>
                <p class="card-text">¡Disfruta de tu viaje por el mundo de las plantas y descubre la belleza que la
                    naturaleza tiene para ofrecer!</p>

            </div>
            <div class="card-footer text-muted">
                <a href="/Buscador" class="btn btn-primary">Comenzar</a>
            </div>
        </div>


    </div>
