<section class="container">
                <h1 class="text-center my-24 text-3xl">Bienvenido a Adgamus, <b>{{name}}</b></h1>
                <p class="copy">Bienvenido a Adgamus, tu plataforma integral para la gestión agrícola y ganadera. En Adgamus, nuestro objetivo principal es proporcionar a agricultores 
                        y ganaderos herramientas eficientes y fáciles de usar que optimicen sus operaciones y mejoren la productividad.</p>
                <div class="enfoques">
                    <div class="enfoque" id="enfoque1">
                        <label>
                            <h3><em>Plantas</em></h3>
                        </label>
                    </div>
                    <div class="enfoque" id="enfoque2">
                        <label>
                            <h3><em>Animales</em></h3>
                        </label>
                    </div>
                    <div class="enfoque" id="enfoque3">
                        <label>
                            <h3><em>Recursos</em></h3>
                        </label>
                    </div>

                </div>
            </section>
            <section class="Informacion_adgamus">
                <article>
                    <h2>¿Cuál es nuestro objetivo?</h2>
                    
                    <p>El objetivo principal de Adgamus es proporcionar a agricultores y ganaderos una plataforma integral y eficiente que les permita optimizar sus operaciones, mejorar la productividad y tomar decisiones informadas. En resumen, nuestro objetivo es ser el aliado tecnológico que contribuye al éxito sostenible en el sector agrícola-ganadero.</p>
                </article>
                <article>
                    <h2>¿Qué pretendemos lograr?</h2>
                    <p>Cuidado de los Cultivos: Ayudamos a los agricultores a monitorear y administrar sus cultivos, brindando herramientas para el seguimiento de factores clave como riego, fertilización y detección temprana de plagas.</p>
                    <p>Selección Artificial de Ganado: Nos enfocamos en la mejora genética del ganado, proporcionando herramientas para la gestión de datos relacionados con la genética, reproducción y salud del ganado.</p>
                    <p>Administración y Optimización de Recursos: Centramos nuestros esfuerzos en la gestión eficiente de los recursos agrícolas y ganaderos, incluyendo personal, maquinaria, insumos y presupuesto.</p>
                </article>
                <article>
                    <h2>Visión</h2>
                    <p>Ser la plataforma líder en el sector agrícola-ganadero, reconocida por su impacto positivo en la eficiencia, sostenibilidad y éxito económico de nuestros usuarios.</p>
                </article>
                <article>
                    <h2>Misión</h2>
                    <p>Facilitar la toma de decisiones informadas para agricultores y ganaderos, contribuyendo a la sostenibilidad y rentabilidad de sus operaciones a través de tecnología intuitiva y eficiente.</p>
                </article>
            </section>
  <footer class="footer">
            <div class="containerF">
                <!--<p>Página diseñada por @0m1n, @AbsorbedSun, @MAPE, @Garven092 </p>-->
                <div class="title_section">
                    <h2>Contáctenos</h2>
                </div>
                <div class="redes_sociales">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://instagram.com/g.u.i.m.o?igshid=bzN4anJoZmpubmZv"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
                <div class="containerF">
                    <p class="copy">
                        ©2023 Adgamus / Todos los derechos reservados
                    </p>
                </div>
            </div>
        </footer>