*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: georgia, times, serif;
    color: #333;
    /*font-size: 1.2rem;*/
    line-height: 1.6em;
    margin: 0;
}
h1, h2, h3{
    font-size: 2rem;
    line-height: 1.3em;
    color: #069E2D;
}
p{
    margin-bottom: 1.6em;
    text-align: justify;
}
li{
    text-align: justify;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.main{
    padding-top: 12rem;
    margin: auto;
        /*align-items: center;*/
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 28%;
}
.footer{
    background: linear-gradient(30deg, #19381F,#036016,#04773B, #069E2D, #4F772D);
    opacity: .8;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}
