<style>
    * {
        box-sizing: border-box;
        font-family: 'Source Sans 3', sans-serif;
        text-decoration: none;
    }

    body {
        overflow-y: auto;
        padding-top: 45px;
    }

    #enfoque1 {
        background: none repeat scroll 0 0 #fff;
    }

    .container-sm {
        width: 70%;
    }

    /* Estilos para los títulos de las cards */
    .card-title {
        padding: 10px;
        font-size: 2rem;
        color: #006400;
    }

    .card-title:first-letter {
        font-size: 2.5rem;
        color: #004d00;
    }
</style>

<div class="container-sm">

    <!-- Card 1 -->
    <div class="card mb-3 mx-auto">
        <div class="card-body">
            <h1 class="card-title">¡Bienvenido al Módulo de Administración de Recursos!</h1>
            <p class="card-text">
                Nos complace darte la bienvenida a nuestra plataforma diseñada para ayudarte a gestionar de manera
                eficiente los recursos de tu hogar. Nuestra misión es brindarte las herramientas necesarias para mejorar
                el rendimiento y la utilización de tus servicios, optimizando así tu consumo y reduciendo costos.
            </p>
            <a href="#explora-descubre">
                <p class="card-text"><small class="text-muted">Más...</small></p>
            </a>
        </div>
        <img src="/Adgamus/public/IMG/Adgamus_Banner_Recursos.png" id="enfoque1" class="card-img-top" alt="Plantas">
    </div>
    <!-- Card 2-3 -->

    <div class="row">
        <div class="col-sm-6">

            <!-- Card 2 -->

            <div id="explora-descubre" class="card mb-3 m-auto" style="max-width: 540px;">
                <h5 class="card-title">Llenado de Información</h5>

                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Adgamus/public/IMG/inicioRecursos/Adgamus_Formulario_Icon.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">En esta sección, podrás ingresar la información esencial sobre los
                                servicios de tu hogar a través de un sencillo cuestionario. Registrando detalles como el
                                nombre del servicio, intervalo de tiempo, costo mensual y límite de uso, estarás dando
                                el primer paso hacia una gestión inteligente de tus recursos. Imagina poder supervisar y
                                controlar el consumo de energía de tus dispositivos eléctricos, recibiendo
                                notificaciones en caso de un uso excesivo.</p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">

            <!-- Card 3 -->

            <div class="card mb-3 m-auto" style="max-width: 540px;">
                <h5 class="card-title">Desplegado de Información</h5>

                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Aquí encontrarás una visualización detallada de la información
                                proporcionada. Nuestra plataforma utiliza algoritmos avanzados para ofrecerte
                                recomendaciones personalizadas con el objetivo de reducir y optimizar el consumo de tus
                                recursos. Con cálculos precisos, te mostraremos la forma más óptima de utilizar tus
                                servicios, considerando el gasto diario, el costo y la cantidad total.</p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/Adgamus/public/IMG/inicioRecursos/Adgamus_Optimizacion_Icon.png" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 4-5 -->


    <!-- Card 4-->
    <div class="col-sm-6 m-auto">

        <div class="card mb-3 m-auto" style="max-width: 540px;">
            <h5 class="card-title">Historial sobre Consultas</h5>

            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">En esta sección, tendrás acceso a un historial detallado de tus operaciones
                            anteriores en la plataforma. Podrás evaluar y comparar el rendimiento de tus recursos a lo
                            largo del tiempo, ya sea mensualmente u en otros intervalos definidos por ti. Gráficas
                            intuitivas te proporcionarán una visión clara de la variación del gasto y el costo,
                            brindándote el contexto necesario para tomar decisiones informadas sobre la gestión de tus
                            recursos.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/Adgamus/public/IMG/inicioRecursos/Adgamus_HConsultas_Icon.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
    <!-- Card 6 -->

    <div class="card text-center">
        <div class="card-header">
            Modulo Cuidado de cultivos.
        </div>
        <div class="card-body">
            <h5 class="card-title">¡Es hora de comenzar!</h5>
            <p class="card-text">Estamos aquí para ayudarte a tomar el control de tus recursos y a alcanzar la
                optimización que mejor se adapte a tus necesidades. ¡Gracias por elegirnos y feliz gestión de recursos!
            </p>

        </div>
        <div class="card-footer text-muted">
            <a href="/Adgamus/Buscador" class="btn btn-primary">Comenzar</a>
        </div>
    </div>


</div>