<style>
    * {
        box-sizing: border-box;
        font-family: 'Source Sans 3', sans-serif;
        text-decoration: none;
    }

    body {
        overflow-y: auto;
        padding-top: 45px;
    }

    #enfoque1 {
        background: none repeat scroll 0 0 #fff;
    }

    .container-sm {
        width: 70%;
    }

    /* Estilos para los títulos de las cards */
    .card-title {
        padding: 10px;
        font-size: 2rem;
        color: #006400;
    }

    .card-title:first-letter {
        font-size: 2.5rem;
        color: #004d00;
    }
</style>


<div class="container-sm">

    <!-- Card 1 -->
    <div class="card mb-3 mx-auto">
        <div class="card-body">
            <h1 class="card-title">¡Bienvenido al Módulo de Selección Artificial!</h1>
            <p class="card-text">
                Este espacio está diseñado para que puedas conocer más acerca de tus animales y proporcionarles el mejor
                cuidado posible.
            </p>
            <a href="#explora-descubre">
                <p class="card-text"><small class="text-muted">Más...</small></p>
            </a>
        </div>
        <img src="./../../public/IMG/Adgamus_Banner_Animal.png" id="enfoque1" class="card-img-top" alt="Plantas">
    </div>
    <!-- Card 2-3 -->

    <div class="row">
        <div class="col-sm-6">

            <!-- Card 2 -->

            <div id="explora-descubre" class="card mb-3 m-auto" style="max-width: 540px;">
                <h5 class="card-title">Información sobre el Animal</h5>

                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">En esta sección, podrás ingresar detalles sobre tus animales, como
                                ovino, porcino, bovino, entre otros. Obtendrás información básica sobre sus
                                características generales, necesidades de cuidado y rasgos típicos.
                            </p>
                            <ul>
                                <li>Tipo de animal (opciones disponibles).</li>
                                <li>Breve descripción del animal.</li>
                            </ul>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">

            <!-- Card 3 -->

            <div class="card mb-3 m-auto" style="max-width: 540px;">
                <h5 class="card-title">Cuadro de Punnett - Información Detallada con Características</h5>

                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Si deseas conocer más sobre la genética de tu ganado, puedes explorar
                                esta sección. Aquí, encontrarás detalles sobre el cuadro de Punnett y su aplicación a la
                                genética de los animales
                            </p>
                            <ul>
                                <li>Explicación detallada del cuadro de Punnett.</li>
                                <li>Campos para ingresar las características genéticas de los padres del animal.</li>
                                <li>Resultados potenciales del cruce genético (genotipos posibles).</li>
                                <li>Proyección sobre el crecimiento adecuado del animal a lo largo del tiempo.</li>
                            </ul>

                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 4-5 -->

    <div class="row">

        <!-- Card 4-->
        <div class="col-sm-6">

            <div class="card mb-3 m-auto" style="max-width: 540px;">
                <h5 class="card-title">Desplegado de un Mapa con Profesionales</h5>

                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Si necesitas encontrar un veterinario u otros profesionales de la salud
                                animal cercanos, esta sección te será útil.
                            </p>
                            <ul>
                                <li>Ubicación actual del usuario o la opción de ingresar una ubicación.</li>
                                <li>Búsqueda de profesionales de salud animal cercanos.</li>
                                <li>Lista de resultados con nombres, direcciones y números de contacto de los
                                    profesionales.</li>
                                <li>Enlaces para obtener más información sobre cada profesional.</li>
                            </ul>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-sm-6">
            <div class="card mb-3 m-auto" style="max-width: 540px;">
                <h5 class="card-title">Historial de Consultas</h5>

                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Aquí podrás acceder a un historial de tus consultas y búsquedas
                                anteriores en la plataforma.
                            </p>
                            <ul>
  <li>Lista de consultas previas organizadas por fecha y tipo (información sobre la mascota, cuadro de Punnett, búsqueda de profesionales).</li>
  <li>Opción para volver a consultar o revisar detalles de consultas anteriores.</li>
</ul>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 6 -->

    <div class="card text-center">
        <div class="card-header">
            Modulo Selección artificial.
        </div>
        <div class="card-body">
            <h5 class="card-title">¡Es hora de comenzar!</h5>
            <p class="card-text">¡Esperamos que esta plataforma te sea de gran utilidad para el cuidado y bienestar de
                tus mascotas! Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos. ¡Disfruta
                explorando el Módulo de Cuidado de Mascotas!!</p>

        </div>
        <div class="card-footer text-muted">
            <a href="/Buscador" class="btn btn-primary">Comenzar</a>
        </div>
    </div>


</div>