<style>
  * {
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
  }

  body {
    overflow-y: auto;
    padding-top: 50px;
    background: none;
  }
  .msg{
    padding-top: 10px;
    padding-left: 10px;
  }
  .msg b{
    padding-top: 10px;
  }
</style>

<div class="container" id="content-wrap">

  <div class="row">

    <div class="col-md-7 mt-5">

      <div class="card">

        <div class="card-header">
          <h4>Chat de {{name}}</h4>
        </div>
        <div class="card-body" id="chat">

        </div>

        <form id="messages-form" class="card-footer">
          <div class="input-group">
            <input class="form-control" type="text" id="message">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-3 mt-5">

      <div class="card">
        <div class="card-header">
          <h4>Usuarios conectados</h4>
        </div>
        <div class="card-body">
          <div id="userNames">

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<script>
 const userData = {
    name: '{{name}}'
  };
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/controllers/user.js"></script>
