<style>
    .estilo-bloque {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5rem; 
  padding: 2rem; 
  background-color: #ffffff; 
  width: 33.3333%; 
  border: 1px solid #e5e5e5; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
body{
    align-items: center;
    justify-content: center;
}
</style>

<div class="estilo-bloque"> 
    <h1 class="text-3x1 m-16 font-bold text-center">REGISTRO</h1>

    <form action="" method="POST" class="mt-4">

        <input type="text" name="NombreUsuario" placeholder="Nombre" 
        class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2
        bg-gray-200 focus:bg-white" required>
        
        <input type="email" name="CorreoUsuario" placeholder="Correo electronico" 
        class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2
        bg-gray-200 focus:bg-white" required>

        <input type="password" name="Contraseña" placeholder="Contraseña" 
        class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2
        bg-gray-200 focus:bg-white" required>


        <button type="submit" class="rounded-md bg-green-500 w-full text-lg text-white
        font-semibold p-2 my-3 hover:bg-green-600 focus:bg-green-700">Enviar</button>
        {{#if error}}
        <p class="text-red-500 font-bold text-lg my-3">*{{error}}</p>
        {{/if}}
    </form>
</div>
