<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <title>Adgamus | Login</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Adgamus/CSS/EstiloCSS.css">
    <link rel="stylesheet" type="text/css" href="/Adgamus/CSS/FondoCSS.css">

 
  </head>
  <body class="bg-gray-200">
  <header>
    <div class="menu">
                    <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                        <i class="fas fa-bars icon__menu"></i>
                    </label>
                    <nav>
                    <div class="container__menu">
                    <ul>
                      
          {{#if name}}
                        
                            <li><a href="#" id="selected"></a></li>
                            <li><a href="#">Otras opciones</a>
                                <ul>
                                    <li><a href="#">Ajustes</a></li>
                                    <li><a href="#">Red</a></li>
                                    <li><a href="#">Mensajes</a></li>
                                    <li><a href="#">Políticas de uso</a></li>
                                </ul>
                            </li>
                            <li><a href="CuidadoCultivos.html">Cuidado de cultivos</a></li>
                            <li><a href="SeleccionArtificial.html">Seleccion artificial</a></li>
                            <li><a href="Recursos.html">Recursos</a></li>
                            <li class="nav-item px-4">
                                <a href="Perfil.html" class="nav-link-name">
                                {{name}}</a>
                                </li>
                            <li class="nav-item px-4"> 
                                <a href="/Adgamus/logout" class="nav-link-logout">Cerrar Sesión</a>
                            </li>                             

          {{else}}

              <li><a href="#" id="selected"></a></li>
              <li class="login nav-item px-4"> 
                  <a href="/Adgamus/login" class="nav-link-login">Login</a>
              </li>
              <li class="register nav-item px-4"> 
                  <a href="/Adgamus/register" class="nav-link-register">Register</a>
              </li>


          {{/if}}

        </ul>

            </nav>
        </div>
    </div>
</header>
  
  {{{body}}}

  {{#if name}}
  <footer class="footer">
            <div class="containerF">
                <!--<p>Página diseñada por @0m1n, @AbsorbedSun, @MAPE, @Garven092 </p>-->
                <div class="title_section">
                    <h2>Contáctenos</h2>
                </div>
                <div class="redes_sociales">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
                <div class="containerF">
                    <p class="copy">
                        ©2023 Adgamus / Todos los derechos reservados
                    </p>
                </div>
            </div>
        </footer>
  {{/if}}
  </body>
</html>
